<mat-toolbar fxLayout fxLayoutAlign="space-between center">
  Invest Circle
  <user-menu [user]="user$ | async"></user-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" opened [style.width.px]="(collapsed$ | async) ? 64 : 248">
    <mat-nav-list fxFlex="grow">
      <a
        routerLink="/wallet"
        mat-list-item
        routerLinkActive="active"
        matTooltip="Wallet"
        [matTooltipDisabled]="!(collapsed$ | async)"
        matTooltipShowDelay="500"
        *ngIf="env.features.wallet.enabled"
      >
        <mat-icon mat-list-icon>account_balance_wallet</mat-icon>
        <h4 mat-line i18n *ngIf="!(collapsed$ | async)">Wallet</h4>
      </a>
      <mat-divider></mat-divider>
      <a
        routerLink="/help"
        mat-list-item
        routerLinkActive="active"
        matTooltip="Help"
        [matTooltipDisabled]="!(collapsed$ | async)"
        matTooltipShowDelay="500"
        *ngIf="env.features.help.enabled"
      >
        <mat-icon mat-list-icon>help</mat-icon>
        <h4 mat-line i18n *ngIf="!(collapsed$ | async)">Help</h4>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <router-outlet></router-outlet>
</mat-sidenav-container>
