<main>
  <h1>My wallets</h1>
  <wallet-balance (deposit)="onDeposit($event)"></wallet-balance>

  <nav mat-tab-nav-bar>
    <a
      mat-tab-link
      routerLink="recipients"
      routerLinkActive
      #recipients="routerLinkActive"
      [active]="recipients.isActive"
      i18n
      >Wallets</a
    >
    <a
      mat-tab-link
      routerLink="transactions"
      routerLinkActive
      #transactions="routerLinkActive"
      [active]="transactions.isActive"
      i18n
      >Transactions</a
    >
  </nav>
  <router-outlet></router-outlet>
</main>
